player-connection-mode=Listen
player-connection-guid=4229884187
player-connection-debug=0
player-connection-project-name=GAM400
player-connection-ip=10.0.0.225
player-connection-ip=192.168.0.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=410d8f7330e347f1b718703ffb594197
